@import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';

:root{
    --main : #66bfbf;
    --sec : #eaf6f6;
    --third : #fcfefe; 
    --fourth : #f76b8a;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--main);
    font-family: 'Ubuntu', sans-serif;
}

html{
    text-align: center;
}

.first-one{
    width: 70%;
    height: 100%;
    padding: 100px;
    margin: 100px;
    background-color : var(--sec);
}

.first-one h1{
    font-size: xxx-large;
    text-align: center;
    color: var(--main);
    text-shadow: 1px 1px 1px #999;
}

.first-one p{
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
    color: #555;
}

.clinic, .patient{
    background-color: var(--fourth);
    width: 22%;
    margin: 10px;
    padding: 15px;
    color: var(--sec);
    box-shadow: 2px 2px 2px #954f5f;
}

.form {
    width: 50%;
    background-color: var(--sec);
    margin: 13% 20%;
    padding: 5% 0.5% 5% 0.5%;
    border-radius: 2%;
    box-shadow: 2px 2px 2px #444;
    color: #444;
}

.form h1{
    text-align: center;
    color: var(--main);
    text-shadow: 1px 1px 1px #999;
    margin-top: -2%;
}
.form input{
    display:inline-block;
}

.pure-form-stacked input[type=color], .pure-form-stacked input[type=date], .pure-form-stacked input[type=datetime-local], .pure-form-stacked input[type=datetime], .pure-form-stacked input[type=email], .pure-form-stacked input[type=file], .pure-form-stacked input[type=month], .pure-form-stacked input[type=number], .pure-form-stacked input[type=password], .pure-form-stacked input[type=search], .pure-form-stacked input[type=tel], .pure-form-stacked input[type=text], .pure-form-stacked input[type=time], .pure-form-stacked input[type=url], .pure-form-stacked input[type=week], .pure-form-stacked label, .pure-form-stacked select, .pure-form-stacked textarea {
    display: inline-block;
    margin: .25em 0;
}

.pure-form .pure-checkbox, .pure-form .pure-radio {
    margin: .5em 0;
    display: inline-block;
}

.form label{
    display:unset;
}

.form p {
    font-size: 12px;
    color: #444;
    font-weight: bolder;
}

.form  p span {
    color: var(--fourth);
    text-decoration: underline;
}

.form p span:hover{
    font-weight: bolder;
    cursor: pointer;
}

.form .pure-button-primary{
    background-color: var(--fourth);
    color: var(--sec);
    box-shadow: 1px 1px 2px #954f5f;
}

.form div>span{
    font-size: 11px;
    color: var(--sec);
}

