@import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';

:root{
    --main : #66bfbf;
    --sec : #eaf6f6;
    --third : #fcfefe; 
    --fourth : #f76b8a;
}


body{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background: var(--sec);
    color: #333;
    position: relative;
    box-sizing: border-box;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
}

.header-wrapper {
    width: 100%;
    height: auto;
  }

  .svg-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }
  
  svg {
    path {
      transition: .1s;
    }
  
    &:hover path {
      d: path("M 800 300 Q 400 250 0 300 L 0 0 L 800 0 L 800 300 Z");
    }
  }

.clinic-header{
  color: #fff;
  padding-top: 5vw;
  padding-bottom: 30vw;
  text-align: center;
  }
.clinic-header a, .clinic-header a:active{
    color: var(--sec)
}

.clinic-header a:hover{
    color: var(--fourth)
}

.clinic-header p{
    padding-top: 5px;
    padding-bottom: 5px;
}

.clinic-main{
  background: var(--sec);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 10vh 0 80vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.nav-wrapper {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
  }
  
.grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #cc785f, var(--fourth),var(--main), #87dcc8);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
  }
  
  /* NAVIGATION */
  
.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 50px;
    overflow: hidden;
  }
  
.navbar img {
    height: 16px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
  }
  
.navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-self: end;
    
  }
  
.nav-item a {
    color: #000;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  
.nav-item a:hover {
    color: var(--fourth);
  }
  
  /* SEARCH FUNCTION */
  
#search-icon {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-left: 15px;
    transition: color 0.3s ease-out;
  }
  
#search-icon:hover {
    color: var(--fourth);
    cursor: pointer;
  }
  
.search {
    transform: translate(-35%);
    -webkit-transform: translate(-35%);
    transition: transform 0.7s ease-in-out;
    color: var(--fourth);
  }
  
.no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
  }
  
.search-input {
    position: absolute;
    top: -4px;
    right: -125px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.6s ease;
  }
  
.search-active {
    opacity: 1;
    z-index: 0;
  }
  
input {
    border: 0;
    border-left: 1px solid #ccc;
    border-radius: 0; /* FOR SAFARI */
    outline: 0;
    padding: 5px;
  }
  
  /* MOBILE MENU & ANIMATION */
  
.menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
.menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
  }
  
.menu-toggle:hover{
    cursor: pointer;
  }
  
#mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  
#mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  
#mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  
  /* KEYFRAME ANIMATIONS */
  
@-webkit-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
@-moz-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
@keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  /* Media Queries */
  
    /* Mobile Devices - Phones/Tablets */
  
@media only screen and (max-width: 720px) { 
.features {
      flex-direction: column;
      padding: 50px;
    }
    
    /* MOBILE HEADINGS */
    
h1 {
      font-size: 1.9rem;
    }
    
h2 {
      font-size: 1rem;
    }
    
p {
      font-size: 0.8rem;
    }
    
    /* MOBILE NAVIGATION */
       
.navbar ul {
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: start;
      top: 55px;
      background-color: #fff;
      width: 100%;
      height: calc(100vh - 55px);
      transform: translate(-101%);
      text-align: center;
      overflow: hidden;
    }
    
.navbar li {
      padding: 15px;
    }
    
.navbar li:first-child {
      margin-top: 50px;
    }
    
.navbar li a {
      font-size: 1rem;
    }
     
.menu-toggle, .bar {
      display: block;
      cursor: pointer;
    }
    
.mobile-nav {
    transform: translate(0%);
}
  }

.patient-header{
    text-align: center;
    padding-top: 70px;
    box-shadow: 0px 0px 10px #333;
}

.patient-header span{
    border: 2px solid var(--main);
    display: block;
}

.patient-main{
    padding-top: 70px;
    padding-left: 25%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.patient-main a{
    all:unset;
    margin-top: 40px;
    
}
.clinic-div{
    width: 60%;
    height: 200px;
    box-shadow: 0px 0px 5px #333;
    margin-top: 40px;
    padding-top: 20px;
    padding-left: 35px;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    border-left: var(--main) solid 5px;
    cursor: pointer;
}

.clinic-div p{
    padding-top: 15px;
}

.clinic-div span{
    border: 1px solid #999;
    display: block;
    width: 70%;
}

.clinic-div>div:first-child{
    flex-grow: 0;
}

.clinic-div>div:nth-child(2){
    padding-left: 3%;
    padding-top: 1%;
    flex-grow: 1;
}

.content__footer {
    text-align: center;
    margin: 0 0.5rem;
    color: #fff;
    padding: 0.7em 0em;
  }
 .content__footer a {
    display: inline;
    background: var(--fourth);
    padding: 0.45em 1em;
    width: 40%;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.2px;
    font-size: 12px;
    transition: transform 250ms ease, box-shadow 250ms ease;
  }
.content__footer a:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 34px 0 rgba(255, 79, 135, 0.32);
  }

  .demo {
    width: 100%;
    height: 100%;
  }
  
  .penName {
    text-align: center;
    font-size: 36px;
  }
  
  .mainCard {
    text-align: center;
    display: block;
    margin: 60px auto;
    background-color: white;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
    width: 90%;
    -webkit-animation-name: mainCard;
            animation-name: mainCard;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  
  @-webkit-keyframes mainCard {
    0% {
      transform: scale(0);
    }
  }
  
  @keyframes mainCard {
    0% {
      transform: scale(0);
    }
  }
  .mainCardHeader {
    background-color: var(--main);
    height: 100px;
    width: 100%;
    -webkit-animation-name: mainCardHeader;
            animation-name: mainCardHeader;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  
  @-webkit-keyframes mainCardHeader {
    0% {
      transform: scaleY(0);
    }
  }
  
  @keyframes mainCardHeader {
    0% {
      transform: scaleY(0);
    }
  }
  .mainCardContent {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -50px;
    height: 100%;
    width: 90%;
  }
  
  .miniCard {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    margin: 0 20px 20px 0;
    background-color: white;
    height: 350px;
    width: 230px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-animation-name: miniCard;
            animation-name: miniCard;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }

  .miniCard:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    margin: 0px 20px 15px 0;
  }
  
  @-webkit-keyframes miniCard {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes miniCard {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

.mainCard p{
    color: #333; 
    text-transform: capitalize;
}
.det{
    font-size: 12px;
    padding-top: 2px;

}
.det p{
    text-align: left;
}

.miniCard h3{
    margin-top: 3px
}
.miniCard h3::before{
    content: " ";
    border: var(--fourth) solid 3px;
    margin-right: 2px;
}

.miniCard {
    text-align: left;
}

.form {
    width: 50%;
    background-color: var(--sec);
    margin: 13% 20%;
    padding: 5% 0.5% 5% 0.5%;
    border-radius: 2%;
    box-shadow: -1px -1px 4px #444;
    color: #444;
}

.form h1{
    text-align: center;
    color: var(--main);
    text-shadow: 1px 1px 1px #999;
    margin-top: -2%;
}
.form input{
    display:inline-block;
}

.pure-form-stacked input[type=color], .pure-form-stacked input[type=date], .pure-form-stacked input[type=datetime-local], .pure-form-stacked input[type=datetime], .pure-form-stacked input[type=email], .pure-form-stacked input[type=file], .pure-form-stacked input[type=month], .pure-form-stacked input[type=number], .pure-form-stacked input[type=password], .pure-form-stacked input[type=search], .pure-form-stacked input[type=tel], .pure-form-stacked input[type=text], .pure-form-stacked input[type=time], .pure-form-stacked input[type=url], .pure-form-stacked input[type=week], .pure-form-stacked label, .pure-form-stacked select, .pure-form-stacked textarea {
    display: inline-block;
    margin: .25em 0;
}

.pure-form .pure-checkbox, .pure-form .pure-radio {
    margin: .5em 0;
    display: inline-block;
}

.form label{
    display:unset;
}

.form p {
    font-size: 12px;
    color: #444;
    font-weight: bolder;
}

.form  p span {
    color: var(--fourth);
    text-decoration: underline;
}

.form p span:hover{
    font-weight: bolder;
    cursor: pointer;
}

.form .pure-button-primary{
    background-color: var(--fourth);
    color: var(--sec);
    box-shadow: 1px 1px 2px #954f5f;
}

.form div>span{
    font-size: 11px;
    color: var(--sec);
}

.app{
    height: 250px;
    align-items: stretch;
}

.app p{
    padding: 5px;
    font-size: smaller;
}