    {%extends "clinic_base.html" %} 
    {%block content%}

    <div class="svg-container">
        <!-- I crated SVG with: https://codepen.io/anthonydugois/pen/mewdyZ -->
        <svg viewbox="0 0 800 400" class="svg">
          <path id="curve" fill="#66bfbf" d="M 800 300 Q 400 350 0 300 L 0 0 L 800 0 L 800 300 Z">
          </path>
        </svg>
      </div>
    
      <header>
        <img src='{{ clinic.getImgUrl() }}' style="width: 150px; height: 150px; border-radius: 50%; box-shadow: 1px 1px 1px #555;"/><h1>{{clinic.name}} Clinic</h1>
        <div>
            <p>{{ clinic.discr }} </p>
            <p>Fields: {{ clinic.fields }} </p>
            <span><span><i class="fa-solid fa-location-dot" style="color:#eaf6f6; font-size: 20px;"></i></span><a href="{{ clinic.location }}"> Location</a></span> <span><span><i class="fa-solid fa-phone" style="color:#eaf6f6; font-size: 20px;"></i></span> {{ clinic.phone }}</span>
        </div>
      </header>
    <span style="width: inherit; height: 3px; background-color: #eee;"></span>
      <main>
        <div class="demo">
            <h2 class="penName">Doctors</h2>
            <div class="mainCard">
              <div class="mainCardHeader"></div>
              <div class="mainCardContent">
                {% set doctors = clinic.getDoctors()%}
                {%for doctor in doctors%}
                 <div class="miniCard" id="{{doctor[0]}}">
                    <img src="/img/{{doctor[0]}}" style="margin:0; width: 100%; height: 50%; padding:0; border-radius: 3%; box-shadow:0px 0px 3px #999;"/>
                    <h3 style="color: #333; text-transform: capitalize;">Dr. {{doctor[2]}} {{doctor[3]}}</h3>  
                    <div class="det">
                    <p>Field: {{doctor[4]}}</p>
                    <p>Works Day: {{doctor[5]}}</p>
                    <p>Price: {{doctor[7]}}d.l</p>
                </div>
                <span style="font-size: 20px;"><span><i class="fa-solid fa-star" style="color:#f76b8a"></i></span>{{clinic.getDocev(doctor[0])}}</span>
                    <div class="content__footer" style="background-color: #fff;"><a href="/appc/{{doctor[0]}}">Appointments</a> </div>
                </div>
                {% endfor %}
                
                <div class="miniCard">
                    <p class="plus" style="    
                    width: 7vw;
                    height: 7vw;
                    padding: 0.2vw;
                    border-radius: 50%;
                    box-shadow: 1px 1px 2px #999;
                    margin-top: 35%;
                    margin-left: 25%;">
                        <a href="/addDoctor"><i class="fa-solid fa-plus" style="font-size: 7vw; text-align:center; color: #66bfbf;"></i></a></p>
                </div>
              </div>
            </div>
              
            </div>
      </main>
    
      <footer>
        <p>the footer.</p> 
  
 
  
{% endblock %}