<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DcotorFinder Login page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for( 'static' , filename= 'style.css' )}}" />
</head>
<body>
    {% if wronge %}
    <div style="background-color: red; padding: 5px; opacity: 0.5; border: 1px 1px solid red;" class="alert" id="alert">
            <p style="opacity: 1; color:aliceblue">{{wronge}}</p>
    </div>
    {% endif %}
    <div class="first-one">
            <h1>Well come!</h1>
            <p>Are you:</p>
            <button value="clinic" class="button-success pure-button clinic">Clinic </button>
            <button value="patient" class="button-success pure-button patient">Patient</button>
    </div>

    <div class="form log-form" hidden>
        <h1>Log in</h1>
        <form class="pure-form pure-form-stacked" method="POST">
            <input type="text" class="type" name="type" value="log" hidden>
            <label for="stacked-email">Email</label>
            <br>
            <input name="log-email" type="email" id="stacked-email" required><br>
            <label for="stacked-password">Password</label><br>
            <input name="log-pass" type="password" id = "stacked-password" required><br>
            <input type="checkbox" value="lsRememberMe" id="stacked-remember"> <label for="stacked-remember" class="pure-checkbox">Remember me</label><br>
            <input type="submit" value="Login" class="pure-button pure-button-primary">
            <p>Don't have an account? <span>Sign in</span></p>
        </form> 
    </div>
    
    <div class="form clinic-form" hidden>
        <h1>Sign in</h1>
        <form class="pure-form pure-g" enctype="multipart/form-data" action="/clinic" method="POST">
            <input type="txt" name="type" value="signin" hidden>
            <div class="pure-u-1-2">
                <span>Enter a Name</span>
                <input type="text" name="name" class="pure-input-1 name" placeholder="Name" required/>
            </div>
            <div class="pure-u-1-2">
                <span>The Email not valid</span>
                <input type="email" name="signin-email" class="pure-input-1 signin-email" placeholder="Email" required/>
            </div>
            <div class="pure-u-1-2">
                <span>Enter at least 8 letters or digits</span>
                <input type="password" name="pass" class="pure-input-1 pass" placeholder="Password" required/>
            </div>
            <div class="pure-u-1-2">
                <span>The password not matching</span>
                <input type="password" name="pass2" class="pure-input-1 pass2" placeholder="Enter The Password Agian" required />
            </div>
            <div class="pure-u-1-2">
                <span>The phone number not valid</span>
                <input type="text" name="phone" class="pure-input-1 phone" placeholder="Phone Number" required/>
            </div>
            <div class="pure-u-1">
                <span>The location link not valid, add google map link please</span>
                <input type="text" name="location" class="pure-input-1 location" placeholder="Clinic Location (Enter google map link)" required />
            </div>
            <div class="pure-u-1">
                <span>Enter a discribtion about your clinic</span>
                <input type="text" name="discribtion" class="pure-input-1 discribtion" placeholder="Discription about the clinic" required/>
            </div>
            <div class="pure-u-1" style="text-align: left;">
                Uplaod Your Clinic Logo
                <input type="file" name="img" accept="img" class="pure-input-1 img" required/>
            </div>

            <div class="pure-u-1" style="padding: 15px;">
            Fields:
            <div class="pure-u-1-4" style="padding: 5px;">
                pediatrics
                <input type="checkbox" name="field" value="pediatrics" class="pure-input-1" style="display: inline;" />
            </div><div class="pure-u-1-4" style="padding: 5px;">
                Internal medicine
                <input type="checkbox" name="field" value="Internal medicine" class="pure-input-1" />
            </div><div class="pure-u-1-4" style="padding: 5px;">
                orthopaedic surgery
                <input type="checkbox" name="field" value="orthopaedic surgery" class="pure-input-1" />
            </div><div class="pure-u-1-4" style="padding: 5px;">
                Obstetrics and Gynecology
                <input type="checkbox" name="field" value="Obstetrics and Gynecology" class="pure-input-1" />
            </div><div class="pure-u-1-4" style="padding: 5px;">
                Otolaryngology 
                <input type="checkbox" name="field" value="Otolaryngology" class="pure-input-1" />
            </div><div class="pure-u-1-4" style="padding: 5px;">
                Dermatology 
                <input type="checkbox" name="field" value="Dermatology" class="pure-input-1" />
            </div><div class="pure-u-1-4"style="padding: 5px;">
                Cardiology  
                <input type="checkbox" name="field" value="Cardiology" class="pure-input-1" />
            </div>
            <div class="pure-u-1-4" style="padding: 5px;">
                dentistry  
                <input type="checkbox" name="field" value="dentistry" class="pure-input-1" />
            </div>
        </div>
            <input type="submit" value="Signin" class="pure-button pure-button-primary s" disabled><br>
        </form>
        <p>have an account already? <span>Log in</span></p>
        
    </div>

    <div class="form patient-form" hidden>
        <h1>Sign in</h1>
        <form class="pure-form pure-g" action="/home" method="POST">
            <input type="txt" name="type" value="signin" hidden>
            <div class="pure-u-1-2">
                <span>Enter a Name</span>
                <input type="text" name="f-name" class="pure-input-1 name" placeholder="First name" required/>
            </div>

            <div class="pure-u-1-2">
                <span>Enter a Name</span>
                <input type="text" name="l-name" class="pure-input-1 name" placeholder="Last name" required/>
            </div>

            <div class="pure-u-1-2">
                <span>The Email not valid</span>
                <input type="email" name="signin-email" class="pure-input-1 signin-email" placeholder="Email" required/>
            </div>

            <div class="pure-u-1-2">
                <span>Enter at least 8 letters or digits</span>
                <input type="password" name="pass" class="pure-input-1 pass" placeholder="Password" required/>
            </div>

            <div class="pure-u-1-2">
                <span>The password not matching</span>
                <input type="password" class="pure-input-1 pass2" placeholder="Enter The Password Agian" required />
            </div>

            <div class="pure-u-1-2">
                <span>The phone number not valid</span>
                <input type="text" name="phone" class="pure-input-1 phone" placeholder="Phone Number" required/>
            </div>

            <div class="pure-u-1">
                <input type="number" name="age" class="pure-input-1 date" placeholder="Age"  min="0" max="150" required/>
            </div>
            
            <input type="submit" value="Signin" class="pure-button pure-button-primary s" disabled><br>
        </form>
        <p>have an account already? <span>Log in</span></p>
    </div>
    <script src="{{url_for('static', filename = 'jquery-3.7.1.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'front_code.js' )}}"></script>
</body>
</html>
