{%extends "clinic_base.html" %} 
    {%block content%}
<body style="background-color: var(--main);">
    <div class="form doc-form">
        <h1>Add Doctor</h1>
        <form class="pure-form pure-g" enctype="multipart/form-data" action="/clinic" method="POST">
            <input type="txt" name="type" value="doc" hidden>
            <div class="pure-u-1-2">
                <span>Enter a Name</span>
                <input type="text" name="f-name" class="pure-input-1 f-name" placeholder="First Name" required/>
            </div>
            <div class="pure-u-1-2">
                <span>Enter a Name</span>
                <input type="text" name="l-name" class="pure-input-1 l-name" placeholder="Last Name" required/>
            </div>
            <div class="pure-u-1-2">
                <span>Enter The Price</span>
                <input type="number" min=0 name="price" class="pure-input-1 price" placeholder="Enter The Pice" required />
            </div>
            
            <!-- <div class="pure-u-1">
                <span>Enter a discribtion about The Doctor</span>
                <input type="text" name="discribtion" class="pure-input-1 discribtion" placeholder="Discription about the doctor" required/>
            </div> -->
            <div class="pure-u-1" style="text-align: left;">
                Uplaod The doctor's picture
                <input type="file" name="img" accept="img" class="pure-input-1 img" required/>
            </div>

            <div class="pure-u-1" style="padding: 15px;">
            Fields:
            {%for y in clinic.fields.split(',')%}
            <div class="pure-u-1-4" style="padding: 5px;">
                {{y}}
                <input type="checkbox" name="field" value="{{y}}" class="pure-input-1" style="display: inline;" />
            </div>
            {%endfor%}
            
        <div class="pure-u-1" style="padding: 15px;">
            Work Days:
            <div class="pure-u-1-4" style="padding: 5px;">
                Sunday
                <input type="checkbox" name="day" value="Sunday" class="pure-input-1" style="display: inline;" />
            </div><div class="pure-u-1-4" style="padding: 5px;">
                Monday 
                <input type="checkbox" name="day" value="Monday" class="pure-input-1" />
            </div><div class="pure-u-1-4" style="padding: 5px;">
                Tuesday
                <input type="checkbox" name="day" value="Tuesday" class="pure-input-1" />
            </div><div class="pure-u-1-4" style="padding: 5px;">
                Wednesday
                <input type="checkbox" name="day" value="Wednesday" class="pure-input-1" />
            </div><div class="pure-u-1-4" style="padding: 5px;">
                Thursday
                <input type="checkbox" name="day" value="Thursday" class="pure-input-1" />
            </div><div class="pure-u-1-4" style="padding: 5px;">
                Friday 
                <input type="checkbox" name="day" value="Friday" class="pure-input-1" />
            </div><div class="pure-u-1-4"style="padding: 5px;">
                Saturday  
                <input type="checkbox" name="day" value="Saturday" class="pure-input-1" />
            </div>
        </div>
            <input type="submit" value="add Doctor" class="pure-button pure-button-primary s" disabled><br>
        </form>
        
    </div>
</body>
{% endblock %}