{%extends "base_patient.html" %} 
    {%block content%}
<body>
    <header class="patient-header">
        <h1>Hello, wish you health and wellness</h1>
        <span></span>
    </header>
    <main class="patient-main" style="display: flex;">
        {%set clinics = user.getClinics()%}
        {%for clinic in clinics %}
        <div class="clinic-div" id="{{clinic[0]}}">
            <div>
                <img style="display: inline; width: 150px; height: 150px; border-radius: 50%;" src="/logo/{{clinic[0]}}">
                
            </div>       
            
            <div>
                <h3 style="display: inline;">{{clinic[1]}} Clinic</h3>
                <span></span>
                <p style="font-weight: bolder;">Fields: {{clinic[5]}}</p>
                <p style="font-size: smaller;">{{clinic[7]}}</p>   
                <div class="content__footer">
                    <a href="/clinic_page/{{clinic[0]}}">Clinic Details</a>
                </div>             
            </div>
        </div>
        {%endfor%}
   
    </main>
</body>
{% endblock %}